.settings-content {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 100vw;
}

.flex-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
}

.flex-wrapper div {
    width: 45%;
}

.settings-content input {
    border: 0;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    padding: 0 0 0 10px;
}

.flex-wrapper p,
.settings-content p {
    margin: 0 0 10px 0;
    color: #9f9f9f;
    width: 80vw;
    font-size: 14px;
}

.settings-content ion-button {
    margin-top: 30px !important;
}

.log-out-wrapper {
    display: flex;
    flex-direction: column;
    flex: 5;
    justify-content: flex-end;
}

.user-header {
    --background: none;
    --border-color: transparent;
}

ion-segment {
    width: 50%;
    margin: auto;
}

.user-list {
    list-style: none;
    padding: 0;
}

.user-content{
    margin: 0 0 20px 0;
}

.admin-content{
    --padding-top:0;
    --padding-start:0;
}

.user-content{
    padding: 20px 20px 0 20px;
}

ion-spinner{
    position: relative;
    top: 50%;
    left: 47%;
}

.user-role{
    color: #EF5D50 !important;
    margin: 10px 0 0 0 !important;
}